<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> says:</h1>
    <h3><%= @email %><br></h3>
    <p><%= @body %></p>
    <p>Glory be unto you Jason.</p>
  </body>
</html>