development:
  S3_BUCKET_NAME: your-bucketname-here
  AWS_ACCESS_KEY_ID: YOUR_AWS_KEY_HERE
  AWS_SECRET_ACCESS_KEY: YOUR_AWS_SECRET_HERE

test:
  S3_BUCKET_NAME: your-bucketname-here
  AWS_ACCESS_KEY_ID: YOUR_AWS_KEY_HERE
  AWS_SECRET_ACCESS_KEY: YOUR_AWS_SECRET_HERE

production:
  S3_BUCKET_NAME: your-bucketname-here
  AWS_ACCESS_KEY_ID: YOUR_AWS_KEY_HERE
  AWS_SECRET_ACCESS_KEY: YOUR_AWS_SECRET_HERE